* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #4fc3f7 !important;
}

.button-divider {
  width: 0.5rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin: 0 auto;
  align-self: center;
  width: 10%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  height: 50px;
}

.link {
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
}

.link:hover {
  color: #f231a5;
  font-weight: 700;
}

.todos-wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.empty {
  margin-top: 5rem;
}

th {
  color: #4fc3f7 !important;
  font-weight: 300;
}

.middle {
  vertical-align: middle;
}
